<div [class.is-mobile]="mobileQuery.matches" class="main-container" *ngIf="username$ | async">
    
    <mat-toolbar color="primary" class="main-toolbar mat-elevation-z4">
        <button class="mat-icon-button" (click)="sidenav.toggle()">
            <span class="mat-button-wrapper">
                <mat-icon class="md-24 mat-icon material-icons" role="img" aria-hidden="true">menu</mat-icon>
            </span>
        </button>
        <span>ODPEM NEMHS</span>
      
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
      
        <h5>{{username$ | async }}</h5>
        <mat-menu #appMenu="matMenu">
            <a routerLink="/eoc/{{eventId$ | async}}/{{roleId$ | async}}/eventselect" mat-menu-item>
                    <mat-icon>arrow_forward</mat-icon>
                    <span>Switch Event</span>
            </a>
            <button mat-menu-item (click)="onLogout()">
                <mat-icon>close</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>         
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar>
    
    <mat-sidenav-container class="sidenav-container" 
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        
      <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" opened="true" fixedTopGap="56"
      class="sidenav">
          <mat-list>
                <h5 matSubheader>{{eventName$ | async}}</h5> 
                <mat-divider></mat-divider>
                         
                <mat-list-item>
                    <mat-icon matListIcon color="warn">dashboard</mat-icon>            
                    <a matLine routerLinkActive="menuCurrent" routerLink="/eoc/{{eventId$ | async}}/{{roleId$ | async}}/dashboard">Dashboard</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon color="warn">message</mat-icon>              
                    <a matLine routerLinkActive="menuCurrent" routerLink="/eoc/{{eventId$ | async}}/{{roleId$ | async}}/response/messages">Messages</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon color="warn">folder_shared</mat-icon>              
                    <a matLine routerLink="/eoc/{{eventId$ | async}}/{{roleId$ | async}}/files">File Transfer</a>
                </mat-list-item>
                <mat-list-item>
                        <mat-icon matListIcon color="warn">assignment</mat-icon>              
                        <a matLine routerLink="/eoc/{{eventId$ | async}}/{{roleId$ | async}}/boards">Status Boards</a>
                </mat-list-item>    
                <mat-list-item>
                    <mat-icon matListIcon color="warn">search</mat-icon>              
                    <a matLine routerLink="/eoc/{{eventId$ | async}}/{{roleId$ | async}}/search">Search</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon color="warn">insert_drive_file</mat-icon>              
                    <a matLine routerLink="/eoc/{{eventId$ | async}}/{{roleId$ | async}}/reports">Reports</a>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
    
      </mat-sidenav>
    
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
    </div>