.example-fill-remaining-space {
	/* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
	flex: 1 1 auto;
}

.is-mobile .main-toolbar {
	position: fixed;
	/* Make sure the toolbar will stay on top of the content as it scrolls past. */
	z-index: 2;
}
.is-mobile .sidenav-container {
	/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
	flex: 1 0 auto;
}
.main-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sidenav-container {
	/* position: absolute*/
	flex: 1;
	/*top: 60px;*/
	bottom: 0px;
	left: 0;
	right: 0;
}

.sidenav {
	/*display: flex;
    align-items: flex-start;
    justify-content: center;*/
	width: 200px;
	background: #f1f1f1;
}
.sidenav a {
	color: rgb(100, 100, 100);
	text-decoration: none;
}

.sidenav a.menuCurrent {
	font-weight: bold;
}

.sidenav a:hover {
	color: rgb(255, 100, 100);
	text-decoration: none;
}

.mat-elevation-z4 {
	position: relative;
	z-index: 2;
}
