<h1 mat-dialog-title>NEMHS Authentication</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="credentials.username" placeholder="Username" cdkFocusInitial>
      </mat-form-field>
    
      <mat-form-field>
        <input type="password" matInput [(ngModel)]="credentials.password" placeholder="Password" (keyup.ENTER)="doLogin()">
      </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="doLogin()">Login</button>
</div>