<div class="page-wrapper">
  <h3 class="mat-headline">Select Event and Role</h3>
  <button mat-raised-button color="primary" (click)="changeEventRole()" >Save</button>
  <button mat-raised-button>Cancel</button>
  <br><br>
  <mat-card class="selector-card">
    <mat-card-content>
      
      <mat-form-field>
        <mat-select placeholder="Event" [(ngModel)]="selection.eventId">
          <mat-option *ngFor="let event of events$ | async" [value]="event.unid">
            {{ event.EventName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-radio-group class="selector-radio-group" [(ngModel)]="selection.roleId" [value]="'MC'">
        <mat-radio-button *ngFor="let role of roles$ | async" [value]="role.id">
          {{role.name}}
        </mat-radio-button>
      </mat-radio-group>

    </mat-card-content>
  </mat-card>
</div>