<mat-toolbar color="primary">
    <span>Messages</span>
</mat-toolbar>

<div class="page-wrapper">
        
                <a mat-raised-button color="primary" routerLink='../new'>New Message</a>
        
                <br><br>
    <mat-card>
        <mat-card-content>
        <mat-table [dataSource]="messages$ | async">
            <ng-container matColumnDef="callerName">
                <mat-header-cell *matHeaderCellDef>Caller Name</mat-header-cell>
                <mat-cell *matCellDef="let message"> 
                    <a [routerLink]="['/eoc', currentEventId$ | async, currentUserRole$ | async, 'response', 'messages',message.unid]">{{message.CallerName}} </a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="callerParish">
                <mat-header-cell *matHeaderCellDef> Caller Parish </mat-header-cell>
                <mat-cell *matCellDef="let message"> {{message.CallerParish}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="incidentDateTime">
                <mat-header-cell *matHeaderCellDef> Incident Date/Time </mat-header-cell>
                <mat-cell *matCellDef="let message"> {{message.IncidentDateTime}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="incidentParish">
                <mat-header-cell *matHeaderCellDef> Incident Parish </mat-header-cell>
                <mat-cell *matCellDef="let message"> {{message.IncidentParish}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>
</div>