<div class="page-wrapper">
    
    <button *ngIf="!message" mat-raised-button color="primary" (click)="createMessage()">Create</button>
    <button *ngIf="message" mat-raised-button color="primary" (click)="onUpdateMessage()">Update</button>
    <button mat-raised-button (click)="onCloseMessage()">Close</button>
    <br><br>
    
    <mat-card class="barheading">    
        <mat-card-subtitle>
                <mat-toolbar color="primary">
                        <span>Incident Message</span>
                    </mat-toolbar>
        </mat-card-subtitle>
        <mat-card-content>
            <div *ngIf="message">
                <span>Creator:</span> <strong>{{message.MessageAuthor}}</strong>
                <span class="top-row">Event:</span> <strong>{{message.MessageEvent}}</strong>
                <span class="top-row">ID:</span> <strong>{{message.MessageId}}</strong>
            </div>
            <mat-divider></mat-divider>
        <br>
            <h3 class="mat-headline">Caller Details</h3>
            <caller-info [callerForm]="callerDetails"></caller-info>
            <mat-divider></mat-divider>
            
            <br>
            <h3 class="mat-headline">Incident Details</h3>            
            <incident-details [incidentForm]="incidentDetails"></incident-details>
        </mat-card-content>
    </mat-card>

</div>