/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";

body {
    margin: 0;
    font-family: robot0, sans-serif;
}

.page-wrapper {
    padding: 30px;
}

mat-card.barheading {
    padding: 0;
}

mat-card.barheading mat-toolbar span{

    color: rgba(255, 255, 255, 0.87);
}
mat-card.barheading mat-card-content{
    padding: 0 24px;
}