<form [formGroup]="callerForm">
  <mat-form-field>
    <input matInput placeholder="Caller Name" formControlName="CallerName">
    <mat-error *ngIf="callerForm.controls.CallerName.errors && !callerForm.controls.CallerName.pristine">
      <p [hidden]="!callerForm.controls.CallerName.errors.required">This field is required</p>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Address 1" formControlName="CallerAddress1">
    <mat-error *ngIf="callerForm.controls.CallerAddress1.errors && !callerForm.controls.CallerAddress1.pristine">
              <p [hidden]="!callerForm.controls.CallerAddress1.errors.required">This field is required</p>
      </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Address 2" formControlName="CallerAddress2">
    <mat-error *ngIf="callerForm.controls.CallerAddress2.errors && !callerForm.controls.CallerAddress2.pristine">
              <p [hidden]="!callerForm.controls.CallerAddress2.errors.required">This field is required</p>
      </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Parish" formControlName="CallerParish">
      <mat-option *ngFor="let parish of parishes" 
      [value]="parish">{{parish}}
    </mat-option>
    </mat-select>
    <mat-error *ngIf="callerForm.controls.CallerParish.errors && !callerForm.controls.CallerParish.pristine">
              <p [hidden]="!callerForm.controls.CallerParish.errors.required">This field is required</p>
      </mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Phone" formControlName="CallerPhone1">
    <mat-error *ngIf="callerForm.controls.CallerPhone1.errors && !callerForm.controls.CallerPhone1.pristine">
              <p [hidden]="!callerForm.controls.CallerPhone1.errors.required">This field is required</p>
      </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="CallerEmail">
    <mat-error *ngIf="callerForm.controls.CallerEmail.errors && !callerForm.controls.CallerEmail.pristine">
        <p [hidden]="!callerForm.controls.CallerEmail.errors.required">This field is required</p>
        <p [hidden]="!callerForm.controls.CallerEmail.errors.email">Invalid email address</p>
      </mat-error>
  </mat-form-field>
</form>
